<footer class="text-center text-bg-dark p-5">
    <div class="d-flex flex-column align-items-md-center flex-md-row justify-content-md-between">        
        <img src="assets/img/logo2.png" alt="Button Icon" style="width: 150px; height: auto; filter: invert(1);">
        
        <div class="text-start mt-4 mt-md-0">
            <ul class="pt-md-4" style="list-style-type: none; font-size: 20px;">
                <li>About</li>
                <li>Support</li>
                <li>FAQ</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</footer>
