<footer class="text-center text-bg-danger p-5">
    <div class="d-flex flex-column align-items-md-center flex-md-row justify-content-md-between">        
        <img src="assets/img/logo2.png" alt="Button Icon" style="width: 150px; height: auto;">
        
        <div class="text-start mt-4 mt-md-0">
            <ul class="pt-md-4" style="list-style-type: none;">
                <li>About</li>
                <li>Services</li>
                <li>Contact</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</footer>
